<div class="comment">
  <div class="avatar">
    <%= gravatar_for("abcuhxhasd@gmail.com") %>
  </div>
  <div class="text">
    <h3><%= comment.user_name %></h3>
    <p><%= get_comment_time(comment) %></p>
    <p><%= comment.body %></p>
  </div>
</div>
