<div class="article">
  <div class="hero">
    <img src="<%= tour.image.url %>">
  </div>
  <div class="text">
    <h2><%= link_to tour.name, tour_path(tour) %></h2>
    <p><%= tour.description %></p>
    <%= link_to "Read more", tour_path(tour), class: "read-more" %>
  </div>
</div>
