<div class="slideshow">
   <div>
     <div class="text">
       <h2 class="hidden">YOUR HOME<br>IMPORTED TO VIETNAM</h2>
       <div class="innertext hidden">
         <div class="seperator"></div>
         <p>You will regret your round-trip ticket</p>
         <p>As you are all wrapped up in the cosiness of our duvets and laying on the comfiness of our beds</p>
       </div>
     </div>
     <div class="image">
       <%= image_tag 'n3.JPG' %>
    </div>
   </div>
   <div>
     <div class="text">
       <h2 class="hidden">ARMED TO THE TEETH</h2>
       <div class="innertext hidden">
         <div class="seperator"></div>
         <p>With flat screen TVs, air-conditioners, refridgerators, you name it, it's in the room</p>
       </div>
     </div>
     <div class="image">
       <%= image_tag 'n7.JPG' %>
    </div>
   </div>
</div>

<div class="row tours">
  <% @tours.each do |tour| %>
    <%= render 'partials/tour', tour: tour %>
  <% end %>
</div>
