<div class="slideshow">
  <div>
    <div class="text">
      <h2 class="hidden">FALL IN LOVE</h2>
      <div class="innertext hidden">
        <div class="seperator"></div>
        <p>With Saigon as we take you to all the secret places that are only known by locals</p>
      </div>
    </div>
    <div class="image">
      <%= image_tag 'n10.jpeg' %>
   </div>
  </div>
   <div>
     <div class="text">
       <h2 class="hidden">REAL ADVENTURES</h2>
       <div class="innertext hidden">
         <div class="seperator"></div>
         <p>Only starts when you step out of your comfort zone</p>
         <p>and take the road less traveled with us</p>
       </div>
     </div>
     <div class="image">
       <%= image_tag 'n12.jpg' %>
    </div>
   </div>
</div>

<div class="row tours">
  <% @tours.each do |tour| %>
    <%= render 'partials/tour', tour: tour %>
  <% end %>
</div>
