<div class="event">
  <div class="title">
    <div class="time">
      <div class="month">
        December
      </div>
      <div class="date">
        24
      </div>
    </div>
    <h2>
      Christmas Potluck Dinner @ Saigon Outcast
    </h2>
  </div>
  <p>
    EVERYONE is welcome to Christmas potluck dinner at Saigon Outcast on Saturday, December 24th, for a special evening of eating-too-much and enjoying live acoustic music. In the spirit of potluck, everyone will bring a dish of their choice to share with friends, and with friendly strangers who may become your close friends in the future.
  </p>
</div>
