<div class="room">
  <div class="image">
    <img src="/assets/placeholder.png">
  </div>
  <div class="text">
    <h2>STANDARD APARTMENT</h2>
    <p>
      Comes with a beautiful private balcony hooked up to a sublime street view, a bathroom and a kitchen, these rooms are a perfect place to hole up in for a long time, guaranteed to satisfy all of your introvert needs after an exhausting day of social activities and recharge your soul.
    </p>
    <div class="cta">
      STARTING AT $20.00
    </div>
  </div>
</div>
