<div class="sign_in completed">

  <div class="hero">
    <img src="/assets/logo-04.png">
  </div>

  <div class="wrapper">
    <h2>Thank You</h2>

    <p>Thank you for staying with us, we will get in touch very soon.</p>
  </div>

</div>
