<div class="hero">
  <div class="shade"></div>
  <img src="/assets/IMG_9239ava.jpg">
  <h2>COMPLETED</h2>
</div>

<div class="bofy">
  <h3 style="text-align:center">Thank you for your reservation, we will get back in touch as soon as possbile.</h3>
</div>
